﻿@page "/"

<style>
    .info {
        background: linear-gradient(45deg, #cfcdf4 0%, #8076db 100%);
        width: 70%;
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        font-family: "Comic Sans", cursive;
        margin-top: 10px;
    }
</style>

<h1>Hello, welcome to the payment system.</h1>

<div>
    <p class="info">
        It allows you to create wallets of type of currencies you select, <br>
        and make transfers to the other users (if they have at least one wallet of the same currency).
    </p>
    <p class="info">
        To do this operations you need to be authorized, for that register first.
    </p>
    <p class="info">
        The system uses database context, writes and fetches data of users,
        wallets and wallet amounts from there.
    </p>
</div>