﻿@page "/transfer/{sourceWalletId}"
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient httpClient
@inject NavigationManager navigManager


<style>
    .transfer_data {
        width: 300px;
        border: 1px solid #444;
        border-radius: 5px;
        margin-top: 10px;
        padding: 10px;
        background: linear-gradient(45deg, #cfcdf4 0%, #8076db 100%);
    }

</style>


<h3>Transfer</h3>

@if (wallet == null)
{
    <div>Loading...</div> 
}
else
{
    <div class="transfer_data">
        <h4>Wallet @wallet.Currency</h4>
        <p>Amount: @wallet.Amount @wallet.Currency</p>
        <p>
            Transfer amount:<br>
            <input @bind="transferData.Amount" />
        </p>
        <p>
            To user (email):<br>
            <input @bind="transferData.Username" />
        </p>
        <button class="btn btn-primary" @onclick="MakeTransfer">Transfer</button>
    </div>
}


@code { [Parameter]
    public string SourceWalletId { get; set; }

    public Wallet wallet { get; set; }

    public TransferDto transferData { get; set; } = new TransferDto();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            wallet = await httpClient.GetFromJsonAsync<Wallet>($"api/wallet/{SourceWalletId}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }

    private async Task MakeTransfer()
    {
        try
        {
            transferData.SourceWalletId = SourceWalletId;
            transferData.Currency = wallet.Currency;
            var response = await httpClient.PostAsJsonAsync($"api/wallet/transfer", transferData);
            if (response.IsSuccessStatusCode)
            {
                navigManager.NavigateTo("wallets");
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    } 
}
