﻿@page "/wallets"
@using BlazorApp.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient httpClient

@inject NavigationManager navigManager

<style>
    .wallet {
        width: 300px;
        border: 1px solid #444;
        border-radius: 5px;
        margin: 10px 20px 10px 0px;
        padding: 10px;
        background: linear-gradient(45deg, #cfcdf4 0%, #8076db 100%);
    }

    .wallets-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .spanner {
        color: #333;
        font-family: "Comic Sans", cursive;
        padding-right: 15px;
        padding-bottom: 15px;
    }
</style>

<h3>Wallets</h3>

@if (WalletList == null)
{
    <div>Loading..</div>
}
else
{
    <div class="wallets-group">
        @foreach (var wallet in WalletList)
        {
            <div class="wallet">
                <div>
                    <h4>Wallet @wallet.Currency</h4>
                    <span class="spanner">Amount: </span>
                    <span class="spanner">@wallet.Amount @wallet.Currency</span>
                </div>
                <div>
                    <button class="btn btn-danger" @onclick="() => DeleteWallet(wallet.ID)">Delete wallet</button>
                    <button class="btn btn-secondary" @onclick="() => MakeTransfer(wallet.ID)">Make transfer</button>
                </div>
            </div>
        }
    </div>

    <div>
        <h3>Create a new wallet</h3>

        <select @bind="Currency">
            @foreach (var currency in currencyList.Currencies)
            {
                <option value="@currency">@currency</option>
            }
        </select>

        <button @onclick="() => CreateWallet()">Create wallet</button>
    </div>
}


@code {
    private CurrencyList currencyList;
    private List<Wallet> WalletList;
    private string Currency;


    protected override async Task OnInitializedAsync()
    {
        await LoadCurrencies();
        await LoadWallets();
    }

    private async Task LoadCurrencies()
    {
        try
        {
            currencyList = await httpClient.GetFromJsonAsync<CurrencyList>("api/currency");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task LoadWallets()
    {
        try
        {
            WalletList = await httpClient.GetFromJsonAsync<List<Wallet>>("api/wallet");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task CreateWallet()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(Currency))
                return;

            var response = await httpClient.PostAsync("api/wallet?currency=" + Currency, null);

            if (response.IsSuccessStatusCode)
            {
                await LoadWallets();
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task DeleteWallet(Guid id)
    {
        try
        {
            await httpClient.DeleteAsync("api/wallet/" + id);
            await LoadWallets();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task MakeTransfer(Guid id)
    {
        try
        {
            navigManager.NavigateTo($"transfer/{id}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}